@font-face {
    font-family: 'Alexandria Bold';
    src: url('./src/AA_Fonts/Alexandria-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Alexandria Light';
    src: url('./src/AA_Fonts/Alexandria-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Alexandria Regular';
    src: url('./src/AA_Fonts/Alexandria-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Concert One Regular';
    src: url('./src/AA_Fonts/ConcertOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Alexandria Regular', sans-serif;
    background-color: #fffef8; 
    color: #333;
    height: 100vh;
}

* {
    box-sizing: border-box;
}

.site-header {
    position: sticky;
    top:0;
    background-color: #FF9517;
    height: 100px; 
    color:  #fffef8;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 768px) {
    .site-header {
        position:static;
    }
}

.logo {
    width: 100px;
}

.logo img {
    height: 60px;
}

.site-nav {
    display: flex;
    gap: 10px;
}

.site-nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.site-nav a {
    color: #fffef8;
    text-decoration: none;
    font-size: 1.1rem;
    text-decoration: none;
}

@media (min-width: 769px) {

    .site-nav a {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100px;
        color: #fffef8;
        text-decoration: none;
        padding: 0 15px;
    }

    .site-nav .active {
        background-color: #ff9f29;
        font-weight: bold;
    }

}

.site-nav .active {
    font-weight: bold;
}

.site-nav a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .site-nav {
        display: none;
    }
}


@media (min-width: 767px) {
    .menu-button-open {
        display: none;
    }
}

.homepage {
    display: flex;
    flex-direction: column;
    padding: 3rem;
    text-align: center;
    min-height: calc(100vh - 100px);
    height: auto; 
}

.welcome-message {
    margin-bottom: 50px;
}

.welcome-message h1 {
    font-size: 2.5rem;
    color:#fffef8;
    margin-bottom: 10px;
    animation: fadeIn 1.5s ease-in-out;
}

.welcome-message p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    color:#fffef8;
    animation: slideUp 2s ease-in-out;
}

.upcoming-events {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.upcoming-events h2 {
    font-weight: 300;
    font-size: 1.5rem;
    color: #fffef8;
}

.event-list {
    display: flex;
    align-items: stretch;
    gap: 20px; 
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    list-style-type: none;
    padding: 0;
}


.event-item {
    width: calc(100% - 40px); 
    margin-bottom: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    transform: translateY(20px);
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}

@media (max-width: 768px) {
    .event-list {
        flex-direction: column;
        gap: 10px;
    }
    .event-item {
        width: 100%;
    }
}

.event-item h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

@media (max-width: 768px) {
    .welcome-message h1 {
        font-size: 2rem;
    }

    .welcome-message p {
        font-size: 1rem;
    }

    .event-item h3 {
        font-size: 1.3rem;
    }
}


#footer-trigger{
    position: fixed;
    height: 50px;
    width: 100vw;
    bottom: 0;
}

footer{
    visibility: hidden;
    position: fixed;
    width: 100vw;
    height: 50px;
    background-color: #c4dcac;
    bottom: -50px;
    opacity: 0%;
    padding-left: 40px;
    transition: all 0.3s ease;
}

.footerVisible{
    visibility: visible;
    opacity: 100%;
    bottom: 0;
    transition: bottom 0.3s ease;
}



@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideUp {
    from {
        transform: translateY(20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes footerAppear {
    form {
        transform: translateY(-50px);
    }

    to {
        transform: translateY(0);
    }
}

#weather {
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
    padding: 5px;
}
#weather .temp {
    font-size: 14px;
    margin-right: 10px;
}
#weather img {
    width: 35px;
    height: 35px;
}
#weather .desc {
    font-size: 14px;
    margin-left: 10px;
}